/*-----------------------------------------------------------------------------
Nome do site - Nome do estilo
Autor: Nome do Autor
-----------------------------------------------------------------------------*/

/* =Reset
-----------------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/* =Utils
-----------------------------------------------------------------------------*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	border: 1px solid red;
	*zoom: 1;
}

.clear{
    clear: both;
}

.principal{
	margin: 0 auto;
}


/* =Nav Mobile
-----------------------------------------------------------------------------*/

body{
	background-color: #292929;
	margin: auto;
}

.row{
	width: 100%;
	margin: auto;
}

.navmobile a{
	color: white;
}

.partedecima{
	background-color: #001a40;
	font-size: 18px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 22px;
	width: 100%;
}

.partedecima img{
	width: 75px;
	height: auto;
	padding-top: 15px;
	margin: auto;
}

.partedecima p{
	padding-top: 25px;
}

.partedebaixo{
	background-color: #3a3a3a;
	padding: 10px 0;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	width: 100%;
}

.partedebaixo p{
	padding-top: 35px;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	margin-left: 25%;
}

.avatarmob img{
	width: 75px;
	height: 75px;
	border-radius: 50px;
	margin-left: 10%;
}

@media screen and (min-width: 660px) {
    .avatarmob img{
	margin-left: 30%;
	}
}


.carrinhomob img{
	width: 35px;
	height: auto;
	padding-top: 25px;
	margin-left: 30%;
}

/* =Destaques Mob
-----------------------------------------------------------------------------*/

.topico{
	padding-top: 25px;
	width: 100%;
}

.topico img{
	width: 100%;
	height: auto;
}

.topico h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}


.topicodesk2{
	padding-top: 25px;
	width: 100%;
	margin-bottom: 50px;
}

.topicodeskprom h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	width: 140%;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}

.topicodeskdest h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	width: 50%;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}


.topicodeskmsvndd h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	width: 140%;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
	
}

.topicodeskmelhorav h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	width: 140%;
	font-size: 30px ;
	padding-top: 10px;
	margin-left: 10%;
	text-transform: uppercase;
	
}

.starthidden{
	display:none;
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	margin: auto;
}

.destaques{
	position: relative
}

.primeiro{
	padding-top: 7px;
}

.slide{
	padding-top: 5px;
}


.containerdesk{
	position: relative;

}

.containerb{
	margin: auto;
	width: 60%;

}

.containerc{
	margin-top: 50px;
	position:relative;
	left: 70px;
	
}

.menudesk{
	position: relative;
	left: 200px;
}

.valoresdesk{
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 150px;
	z-index: 35;
}

.valores{
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 150px;
	z-index: 35;
}

.valores p{
	padding-top: 8px;
}

.valoresmenores{
	position: absolute;
	bottom: 5px;
	right: 22px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 20px;
	width: 80px;
}

.valoresmenores p{
	padding-top: 2px;
	font-size: 16px;
}

.valoresmenoresleft{
	position: absolute;
	bottom: 5px;
	right: 9px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 20px;
	width: 80px;
}

.valoresmenoresleft p{
	padding-top: 2px;
	font-size: 16px;
}

.valoresgrandes{
	position: absolute;
	bottom: 5px;
	right: 32px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 150px;
}




.valoresgrandesk{
	position: absolute;
	top: 300px;
	right: 20px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 225px;
}

.valoresgrandesk2{
	position: absolute;
	top: 5px;
	right: 25px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 306px;
}


.valoresgrandesk p{
	padding-top: 8px;
}

.valoresgrandes p{
	padding-top: 8px;
}

.seguintes{
	padding-top: 50px;
} 

.primeiro{
	position: relative;
	margin-left: 10px;
}

.primeiro img{
	width: 95%;
	height: auto;
}

@media screen and (min-width: 660px) {
    .primeiro img{
	width: 97%;
	height: auto;
	}
}

.segundo img{
	width: 98%;
	height: 98%;
	float: left;
	margin: auto auto auto 10px;
}

.terceiro img{
	width: 98%;
	height: 98%;
	float: right;
	margin: auto 10px auto auto;
}

/* =menuFiltro e dropdown
-----------------------------------------------------------------------------*/

.menuFiltro{
	background-color: #3a3a3a;
	margin-top: 40px;
	color: white;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
}

.menuFiltrodesk{
	background-color: #3a3a3a;
	margin-top: 40px;
	color: white;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
}

.menuFiltrodesk img{
	width: 30px;
	height: auto;
	padding-top: 15px;
}

.menuFiltro img{
	width: 30px;
	height: auto;
	padding-top: 15px;
}

.formpesquisa{
	margin-top: 15px;
}

@media screen and (min-width: 660px) {
	.inputdepesquisa{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #585858;
	}
}

@media screen and (max-width: 659px) {
	.inputdepesquisa{
		width: 300px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		background-color: #585858;
	}
}

.menuFiltro h2{
	text-align: center;
	padding: 15px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	border-bottom: 1px solid white;
}

.dropdown{
	text-align: center;
	padding: 10px 0;
}

.dropdown p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-bottom: 3px;
	border-bottom: 1px solid white;
}

.dropdown li{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 5px;
}

li.dropdown ul {
display : none;
padding: 7px 0;
}

.dropdown a{
	text-decoration: none;
	color: white;
}

/* =footer aka rodape noobs
-----------------------------------------------------------------------------*/

footer{
	background-color: #001a40;
	padding: 15px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 12px;
	text-align: right;
}

footer a{
	color: white;
}


footer img{
	width: 50%;
	height: auto;
}

@media screen and (max-width: 659px) {
footer span{
		font-size: 125%;
	}
}

@media screen and (min-width: 660px) {
	footer span{
		font-size: 350%;
	}
}
