/*-----------------------------------------------------------------------------
Folha de estilo comum a todas as páginas web
Autoras: Bruna Lucchesi Villela, Cristiane Ramalho Guimarães e Manuella da S. Araujo 
-----------------------------------------------------------------------------*/

/* =Utils
-----------------------------------------------------------------------------*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	border: 1px solid red;
	*zoom: 1;
}

.clear{
    clear: both;
}

.principal{
	margin: 0 auto;
}

/* =Geral
-----------------------------------------------------------------------------*/
@font-face {
	src: url('fonts/swis721_.woff') format('woff');
	src: url('fonts/swis721_.TTF') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
	margin-bottom: 0.5em;
	font-weight: bold;
	color: #0D5E1B;
}


/* =Menu
-----------------------------------------------------------------------------*/
header {
  background-image:
    linear-gradient (#19872C, #0D5E1B);
    font-weight: 700;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
    color: #FEE370;
}

.navbar-default {
	background-image: linear-gradient(#19872C, #0D5E1B);
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    transition-duration: 0.6s;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active  {
    color: #FEE370;
    background-color: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    background-image: linear-gradient(#19872C, #0D5E1B);
    color: #FEE370;
}

.dropdown-menu>li:hover {
    color: white;
    background-color: #FEE370;
}

.navbar-nav>.log>a, 
.navbar-nav>.log>span{
	display: inline-block;
	color: white;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-color: #e7eda4;
}

/* =Menu Mobile
-----------------------------------------------------------------------------*/
@media (max-width:992px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: white;
		font-size: 0.8em;
	}
	
	.navbar-nav>li>a{
		font-size: 0.8em;
	}

	.navbar-default .navbar-brand {
		font-size: 8px;
		font-weight: 700;
	}

	nav .navbar-nav .navbar-right {
		font-size: 0.8em;
	}

	.navbar-default .navbar-toggle {
		border: none;
		transition-property: background;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:active 
	.navbar-default .navbar-toggle:focus 
	.navbar-default .navbar-toggle:visited  {
		border: none;
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar, 
	.navbar-default .navbar-toggle .icon-bar:hover,
	.navbar-default .navbar-toggle .icon-bar:active,
	.navbar-default .navbar-toggle .icon-bar:visited,
	.navbar-default .navbar-toggle .icon-bar:focus {
		background-color: white;
	}

	.navbar-toggle {
		padding-top: 10px;
	}

	.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form  {
		border: none;
	}
}

/* =Footer
-----------------------------------------------------------------------------*/
.degrade{
	background-image:linear-gradient(#19872C, #0D5E1B);
}

.footer_agr {
    font-weight: 700;
    font-size: 16px;
	color: white;
	background:
		url(../img/agr.png) no-repeat 5% center,
		url(../img/escudo_eb.png) no-repeat 95% center;
	background-size: 6%;
	text-align: center;
	padding: 40px 10%;
}

@media (min-width: 769px){
	.footer_fixed{
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

/* =Footer Mobile
-----------------------------------------------------------------------------*/
@media (max-width:992px) {
	.footer_agr {
		font-size: 12px;
		background-size: 50px;
		padding: 30px 25%;
	}
}