/*-----------------------------------------------------------------------------
Nome do site - Nome do estilo
Autor: Nome do Autor
-----------------------------------------------------------------------------*/

/* =Reset
-----------------------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* =aqui era body{line-height: 1;}, mas tava bugando o layout
-----------------------------------------------------------------------------*/
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/* =Utils
-----------------------------------------------------------------------------*/
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	border: 1px solid red;
	*zoom: 1;
}

.clear{
    clear: both;
}

.principal{
	margin: 0 auto;
}

body{
	background-color: #292929;
}

.desktop{
	margin-top: 35px;
}

a:hover{
	color: white;
}

 

/* =Nav Mobile
-----------------------------------------------------------------------------*/

.row{
	width: 100%;
	margin: auto;
}

.navmobile a{
	color: white;
}

.partedecima{
	background-color: #001a40;
	font-size: 18px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 22px;
	width: 100%;
}

.partedecima img{
	width: 75px;
	height: auto;
	padding-top: 15px;
	margin: auto;
}

.partedecima p{
	padding-top: 25px;
}

.partedebaixo{
	background-color: #3a3a3a;
	padding: 10px 0;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	width: 100%;
}

.partedebaixo p{
	padding-top: 35px;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	margin-left: 25%;
}

.avatarmob img{
	width: 75px;
	height: 75px;
	border-radius: 50px;
	margin-left: 16px;
}

@media screen and (min-width: 660px) {
    .avatarmob img{
	margin-left: 30%;
	}
}


.carrinhomob img{
	width: 35px;
	height: auto;
	padding-top: 25px;
	margin-left: 30%;
}

/* =Nav Desk
-----------------------------------------------------------------------------*/

.navdesk{
	background-color: #001a40;
	padding: 25px 0;
}

.navdesk p{
	margin-top: 50px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

@media screen and (max-width: 990px) {
    .navdesk p{
	font-size: 12px;
	}
}

.logodesk{
	width: 75px;
	height: auto;
	margin-top: 10px;
}

.navesquerdo{
	float: left;
}

.navdireito{ 
	float: right;
}

.menusnavpai{ 
	position: relative;
}

.menusnav{ 
	position: absolute;
	top: -33px;
	left: 9px;
	width: 65px;
	height: 137px;
}

.menusnaves{ 
	position: absolute;
	top: -33px;
	left: -4px;
	width: 65px;
	height: 137px;
}

.menusnavesq{ 
	position: absolute;
	top: -33px;
	left: 0px;
	width: 65px;
	height: 137px;
}

.menusnavdir{ 
	position: absolute;
	top: -33px;
	width: 65px;
	height: 137px;
}

.menusnavcar{ 
	position: absolute;
	top: -33px;
	width: 65px;
	left: 3px;
	height: 137px;
}

.menusnav:hover{
	background-color: #e84e25;
}

.menusnaves:hover{
	background-color: #e84e25;
}

.menusnavesq:hover{
	background-color: #e84e25;
}

.menusnavdir:hover{
	background-color: #e84e25;
}

.menusnavcar:hover{
	background-color: #e84e25;
}

.hue{ 
	z-index: 3;
	position: relative;
}

.avatardesk{
	width: 75px;
	height: 75px;
	border-radius: 50px;
}

.carrindesk{
	width: 35px;
	height: 35px;
	margin-top: 30px;
}


/* =menuFiltro e dropdown
-----------------------------------------------------------------------------*/

.menuFiltro{
	position: relative;
	background-color: #3a3a3a;
	margin-bottom: 40px;
	color: white;
	padding-top: 40px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
}

.menuFiltro img{
	position: absolute;
	right: 24px;
	width: 20px;
	height: auto;
	margin-top: 18px;
}

.formdesk {
	margin-top: 15px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
	padding-bottom: 45px;
}

.formpesquisa{
	margin-top: 15px;
}

@media screen and (min-width: 660px) {
	.inputdepesquisa{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #585858;
	}
}

@media screen and (max-width: 659px) {
	.inputdepesquisa{
		width: 300px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		background-color: #585858;
	}
}

.menuFiltro h2{
	text-align: center;
	padding: 15px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	border-bottom: 1px solid white;
}

.dropdown{
	text-align: center;
	padding: 10px 0;
	font-family: 'Ubuntu', sans-serif;
	border-bottom: 1px solid white;
}

li.dropdown ul {
display : none;
padding: 7px 0;
}

.dropdowncima{
	text-align: center;
	padding: 10px 0;
}

.dropdowncima span{
	border: 3px solid white;
	border-radius: 50px;
	padding: 5px;
}

.dropdowncima p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	font-weight: 500;
}

.dropdowncima li{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 10px 0;
}

li.dropdowncima ul {
display : none;
padding: 7px 0;
}

.dropdowncima a{
	text-decoration: none;
	color: white;
}

.dropdown li{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 10px 0;
}

.dropdown a{
	text-decoration: none;
	color: white;
}

/* =Destaques Mob Home
-----------------------------------------------------------------------------*/
.topico{
	padding-top: 25px;
	width: 100%;
}

.topico img{
	width: 100%;
	height: auto;
}

.topico h3{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	height: 50px;
	font-size: 30px;
	padding-top: 10px;
	text-transform: uppercase;
}

.topico h4{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #001a40;
	height: 50px;
	font-size: 24px;
	font-weight: 300;
	padding-top: 10px;
	text-transform: uppercase;
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	margin: auto;
}

.destaques{
	position: relative
}

.primeiro{
	padding-top: 7px;
}

.slide{
	padding-top: 5px;
}

.valores{
	position: absolute;
	bottom: -2px;
	right: -10px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 150px;
	z-index: 35;
}

.valoresdesk{
	position: absolute;
	bottom: -2px;
	right: -10px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 48px;
	height: 80px;
	width: 300px;
	z-index: 35;
}

.valoresdesk p{
	padding-top: 13px;
}

.valores p{
	padding-top: 8px;
}

.valoresmenores{
	position: absolute;
	bottom: 5px;
	right: 18px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 20px;
	width: 80px;
}

.valoresmenores p{
	padding-top: 2px;
	font-size: 16px;
}

.valoresmenoresleft{
	position: absolute;
	bottom: 5px;
	right: 9px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 20px;
	width: 80px;
}

.valoresmenoresleft p{
	padding-top: 2px;
	font-size: 16px;
}

.valoresgrandes{
	position: absolute;
	bottom: 5px;
	right: 30px;
	background-color: #e84e25;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 24px;
	height: 40px;
	width: 150px;
}

.valoresgrandes p{
	padding-top: 8px;
}

.seguintes{
	padding-top: 50px;
} 

.primeiro{
	position: relative;
	margin-left: 10px;
}

.primeiro img{
	width: 95%;
	height: auto;
}

@media screen and (min-width: 660px) {
    .primeiro img{
	width: 97%;
	height: auto;
	}
}

.segundo img{
	width: 98%;
	height: 98%;
	margin: auto auto auto 10px;
}

.terceiro img{
	width: 98%;
	height: 98%;
	margin: auto 10px auto auto;
}

/* =seletor desk
-----------------------------------------------------------------------------*/

.seletordesk{
	/*background-color: #e84e25;*/
	margin-top: 15px;
	height: 50px;
}

.corpodoseletordesk{
	height: 100%;
	height: auto;
	position: relative;
}

.barradecima{
	width: 100%;
	height: 50px;
	background-color: #e84e25;
	position: absolute;
	top: 0;
	right: 0;
}

.selecaodesk{
	text-align: center;
	margin-top: 15px;
	position: relative;
	text-transform: uppercase;
}

.selecaodesk p{
	position: absolute;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	z-index: 2;
	right: 0;
	width: 100%;
}

.selecionados{
	height: 50px;
	width: 87%;
	position: absolute;
	top: -15px;
	padding-top: 15px;
	z-index: 1;
}

.seleativo{
	height: 50px;
	width: 87%;
	position: absolute;
	top: -15px;
	padding-top: 15px;
	z-index: 1;
	background-color: #a9391b
}

.selecionados:hover{
	background-color: #a9391b;
}

.precoselecao{
	height: 25px;
	background-color: #e84e25;
}


.exibselecao a{
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: 'ubuntu', sans-serif;
}

.exibselecao p{
	padding-top: 3px;
}

.exibselecao img{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.comentarioseleci{
	background-color: #3a3a3a;
	margin-top: 15px;
	padding-bottom: 15px;
}

.comentarioseleci p{
	margin: 5px;
	padding-top: 10px;
	color: white;
	font-family: 'roboto', sans-serif;
	text-align: center;
}


/* =metodo de pagamento
-----------------------------------------------------------------------------*/

.metodospagamento{
	background-color: #3a3a3a;
	margin-top: 40px;
	color: white;
	padding-bottom: 40px;
	-webkit-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -7px 5px 0px rgba(0,0,0,0.75);
}

.metodospagamento p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	margin-top: 10px;
	font-weight: 500;
}

.metodospagamento img {
	margin-top: 5px;
	width: 200%
	height: auto;
	max-width: 50px;
}

.aceitos{ 
margin-top: 15px;
}

/* =footer aka rodape noobs
-----------------------------------------------------------------------------*/

footer{
	background-color: #001a40;
	padding: 15px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 12px;
	text-align: right;
}

footer a{
	color: white;
}


footer img{
	width: 25px;
	height: auto;
	max-width: 25px;
	max-height: auto;
}

footer span{
		font-size: 25px;
	}

/* =perfil usuario e jogo
-----------------------------------------------------------------------------*/

.capadoperfil{
	width: 100%;
	height: auto;
	margin: 25px 0;
	background-color: #3a3a3a;
	padding: 10px 0;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	position: relative;
}

.capadoperfildesk{
	width: 100%;
	height: auto;
	background-color: #3a3a3a;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	position: relative;
}

.capadoperfiluserdesk{
	width: 100%;
	height: auto;
	background-color: #3a3a3a;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
	position: relative;
}

.capadoperfildesk p{
	position: absolute;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	background-color: #e84e25;
	width: 275px;
	height: 75px;
	font-size: 50px;
	padding-top: 10px;
	text-transform: uppercase;
	position: absolute;
	top: 88%;
    left: 80%;
    overflow: auto;
    transform: translate(-50%, -50%);
    resize: both;
}

.capadoperfiluserdesk span{
		position: absolute;
		top: 20px;
		right: 10px;
		color: white;
		font-size: 200%;
		height: auto;
	}

.videodesk{
	position: absolute;
	top: 50%;
    bottom: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
    resize: both;
    padding: 1em;
}

.playvideo{
	position: absolute;
	top: 41%;
	right: 43%;
	color: white;
	font-size: 48px;
	border: 10px solid white;
	border-radius: 50px;
	padding: 40px;
}

@media screen and (min-width: 660px) {
	.capadoperfil span{
		position: absolute;
		top: 20px;
		right: 10px;
		color: white;
		font-size: 200%;
		height: auto;
	}
}

@media screen and (max-width: 659px) {
	.capadoperfil span{
		position: absolute;
		top: 20px;
		right: 10px;
		color: white;
	}
}

.capadoperfilmob{
	margin: auto;
	width: 100%;
	height: auto;
}

@media screen and (max-width: 659px) {
	.avatardoperfilmob{
		position: absolute;
		bottom: 20px;
		left: 5px;
		width: 75px;
		border: 1px solid white;
		outline: 2px solid #3a3a3a;
	}
}

@media screen and (min-width: 660px) {
	.avatardoperfilmob{
		position: absolute;
		bottom: 20px;
		left: 5px;
		width: 150px;
		border: 1px solid white;
		outline: 2px solid #3a3a3a;
	}
}

@media screen and (max-width: 659px) {
	.nickdoperfilmob{
		position: absolute;
		bottom: 20px;
		left: 85px;
		padding: 2px;
		color: white;
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		-webkit-text-stroke-width: 0.45px;
        -webkit-text-stroke-color: #3a3a3a;;
	}
}

@media screen and (min-width: 660px) {
	.nickdoperfilmob{
		position: absolute;
		bottom: 20px;
		left: 165px;
		padding: 4px;
		font-size: 22px;
		color: white;
		font-family: 'Ubuntu', sans-serif;
		-webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #3a3a3a;;
	}
}

.avatardoperfildesk{
		position: absolute;
		bottom: 27px;
		left: 5px;
		width: 150px;
		border: 1px solid white;
		outline: 2px solid #3a3a3a;
	}

	.nickdoperfildesk{
		font-family: 'Ubuntu', sans-serif;
		color: white;
		font-size: 50px;
		padding-top: 10px;
		position: absolute;
		bottom: -12px;
	    left: 410px;
	    overflow: auto;
	    transform: translate(-50%, -50%);
	    resize: both;
	    width: 472px;
	    -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #3a3a3a;;
	}

/* Descrição do jogo
-----------------------------------------------------------------------------*/

.descricaoJogo{
	background-color: #3a3a3a;
	margin-top: 30px;
}

.texto{
	padding: 25px 0;
}

.descricaoJogo p{
	margin: 5px 0;
	color: white;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/* avaliações
-----------------------------------------------------------------------------*/

.avaliacoes{
	text-align: center;
	font-size: 26px;
	margin: 30px 0; 
	font-family: 'ubuntu', sans-serif;
}

.avaliacoes div{
	padding: 15px 0;
}

.avaliacoes span{
	font-size: 60px;
}

.avaliacoesdesk{
	text-align: center;
	font-size: 26px;
	margin: 0 30px; 
	font-family: 'ubuntu', sans-serif;
}

.avaliacoesdesk div{
	padding: 15px 0;
	margin-top: 20px;
}

.avaliacoesdesk span{
	font-size: 60px;
}

.positivos{
 background-color: #18ba30;
 color: #0c6319;
 border: 2px solid #0c6319;
 outline: 2px solid #18ba30;
}

.negativos{
background-color: #c11730;
color: #7c0e1f;	
border: 2px solid #7c0e1f;
outline: 2px solid #c11730;
}

/* ficha tecnica jogo
-----------------------------------------------------------------------------*/

.fichatecnica{
	background-color: #3a3a3a;
	margin-top: 30px;
	color: white;
}

.fichatecnica div{
	padding: 15px 10px;
	border-bottom: 1px solid white;
}

.tituloficha{
	font-family: 'ubuntu', sans-serif;
	text-transform: uppercase;
}

.conteudo{
	font-family: 'roboto', sans-serif;
	font-weight: 300;
}

/* topicos=Amigos Mobile
-----------------------------------------------------------------------------*/

.amigosmob{
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #3a3a3a;
}

.amigosdesk{
	margin: 55px 1px 25px 1px;
	padding-bottom: 10px;
	background-color: #3a3a3a;
	width: 24%;
}

.nickamigodesk{
	color: white;
	margin-top: 15px;
	font-size: 28px;
	margin-bottom: -30px;
}
.jogandooquedesk{
	color: white;
	font-weight: 300;
	padding-bottom: 10px;
	height: 52px;
}

.amigosdesk p{
	text-align: center;
	font-family: 'roboto', sans-serif;
}

@media screen and (min-width: 660px) {
	.amigosmob p{
		text-align: center;
		padding-top: 11%;
		font-family: 'roboto', sans-serif;
	}
}

@media screen and (max-width: 659px) {
	.amigosmob p{
		text-align: center;
		padding-top: 8%;
		font-family: 'roboto', sans-serif;
	}
}

.nickmobile{
 color: white;
}

.online{
	color: #5eda55;
	text-shadow: 0 0 0.2em #5eda55;
}

.offline{
	color: #ec1111;
	text-shadow: 0 0 0.2em #ec1111;
}

.busy{
	color: #ebe80b;
	text-shadow: 0 0 0.2em #ebe80b;
}

.perfilamigomob img{
	width: 100%;
	height: auto;
}

.vermais{
	color: white;
	background-color: #e84e25;
	font-family: 'ubuntu', sans-serif;
	padding: 5px 0;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 10px;
}

.vermais:hover{
 color: white;
}

/* topicos=conquistas e wishlist Mobile
-----------------------------------------------------------------------------*/

.conquistamobile{
	margin-top: 10px;
}

.conquistamobile p{
	color: white;
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	margin-top: 5px;
}

.conquistasdesk p{
	color: white;
	font-family: 'roboto', sans-serif;
	text-align: center;
}

.nomeconquista{
	background-color: #e84e25;
	color: white;
}

.wishlistdesk p{
	background-color: #e84e25;
	text-align: center;
	color: white;
	font-family: 'roboto', sans-serif;
	padding: 5px;
}

/* topicos=catalogo jogos mobile
-----------------------------------------------------------------------------*/

.catalogomob{
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #3a3a3a;
}

@media screen and (min-width: 660px) {
	.cataljogosmob img{
		margin-top: 7%;
	}
}

@media screen and (max-width: 659px) {
	.cataljogosmob img{
		margin-top: 9%;
	}
}

.cataljogosmob img{
	width: 100%;
	height: auto;
}

.catalogodesk{
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #3a3a3a;
	height: 150px;
}

.cataljogosdesk img{
	margin-top: 15px;
	max-height: 120px;
	max-width: 295px;
	width: 100%;
	height: auto;
}

.preçodojogodesk{
	padding-top: 37px;
	margin-top: 22px;
	margin-left: 40px;
	color: white;
	text-align: center;
	height: 110px;
	font-family: 'roboto', sans-serif;
	background-color: #e84e25;
	font-size: 26px;
}

.nomedojogodesk{
		margin-top: 60px;
		margin-left: 15px;
		color: white;
		font-family: 'ubuntu', sans-serif;
		font-size: 26px;
	}

@media screen and (min-width: 660px) {
	.nomedojogo{
		margin-top: 5%;
		color: white;
		font-family: 'ubuntu', sans-serif;
		font-size: 26px;
	}
}

@media screen and (max-width: 659px) {
	.nomedojogo{
		margin-top: 2%;
		color: white;
		font-family: 'ubuntu', sans-serif;
		font-size: 20px;
	}
}

@media screen and (min-width: 660px) {
	.preçodojogo{
		padding-top: 7%;
		color: white;
		text-align: center;
		height: 110px;
		font-family: 'roboto', sans-serif;
		background-color: #e84e25;
		font-size: 26px;
	}
}

@media screen and (max-width: 659px) {
	.preçodojogo{
		padding-top: 5%;
		color: white;
		text-align: center;
		height: 55px;
		font-family: 'roboto', sans-serif;
		background-color: #e84e25;
		font-size: 12px;
	}
}

.jogosdesk p{
	background-color: #e84e25; 
	font-family: 'ubuntu', sans-serif;
	color: white;
	padding: 5px;
	margin: 60px 0 -20px 16px;
	width: 135px;
}

.jogonalista{
	position: relative;
}

.jogonalista span{
	color: white;
	background-color: #e84e25;
	font-size: 36px;
	padding: 3px 2px 2px 4px;
}

.estrela{
	position: absolute;
	bottom: 4px;
	right: 0;
}

